/*------------GENERAL------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media screen and (min-width: 601px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 22px;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* set the footer always at the bottom regardless of search results*/
.fixed-footer-body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 0.1em solid transparent;
    overflow-x: hidden;
}


h1 {
    font-size: 5.5em;
}

h2 {
    letter-spacing: 0.2em;
}

/*------------LANDING------------*/
.background-landing {
    background-attachment: fixed;
    background-image: url('../images/background-25.jpeg');
    background-position: bottom;
    background-size: cover;
    height: 100vh
}

.background-landing .btn {
  border-radius: 12em;
  height: 4em;
  width: 16em;
}



@media only screen and (max-width: 767px) {
  #about-residence {
    /* smaller landing page for mobile device */
    background-image: url(../images/background-25-small-device.png);
  }
}

/*------------SEARCH------------*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 0.5em solid;
  border-right: none;
  padding: 1em;
  height: 6vh;
  border-radius: 0.8em 0 0 0.8em;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 6vw;
  height: 6vh;
  border: 0.2em solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 0.3em 0.3em 0;
  cursor: pointer;
  font-size: 1.4em;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapafter{
  width: 40vw;
  margin: 0 auto;
  float: none;
}

.hidden {
    display: none;
}
/*------------CATALOGUE------------*/

.btn-toolbar{
  text-align: center;
}

.btn-group .btn {
    font-size: 1.1em;
}
/*------------SEARCH&CATALOGUE------------*/
.image{
    text-align: center
}

#results img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 14em; /* Set a small width */
  height: 16em;

}

/* Add a hover effect (blue shadow) */
#results img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card-title {
    text-align: center;
}

#results .card {
    height: 22em;
    width: 18em;
    margin: 1em;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
    height: 5vh;
  padding: 1rem;
  text-align: center;
}


