/*------------GENERAL------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  html {
    font-size: 12px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  html {
    font-size: 15px;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.fixed-footer-body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}
/*------------LANDING------------*/
.background-landing {
    background-attachment: fixed;
    background-image: url('../images/background-25.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh
}

.background-landing .btn {
  border-radius: 40px;
  width: 13em;
}

/*------------SEARCH------------*/

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid;
  border-right: none;
  padding: 5px;
  height: 54px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 54px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapafter{
  width: 40%;
  margin: 0 auto;
  float: none;
}

.hidden {
    display: none;
}
/*------------CATALOGUE------------*/

.btn-toolbar{
  text-align: center;
}

.btn-group .btn {
    font-size: 1.1em;
}
/*------------SEARCH&CATALOGUE------------*/
.image{
    text-align: center
}

#results img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 14em; /* Set a small width */
  height: 16em;

}

/* Add a hover effect (blue shadow) */
#results img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.card-title {
    text-align: center;
}

#results .card {
    height: 20em;
    width: 18em;
    margin: 1em;
}

.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: .5rem;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


