/*------------GENERAL------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media screen and (min-width: 601px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 22px;
  }
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* set the footer always at the bottom regardless of search results*/
.fixed-footer-body{
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Open Sans", Arial, sans-serif;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 0.1em;
}

.navbar .navbar-collapse {
    text-align: right;
    border-top: 0.1em solid transparent;
    overflow-x: hidden;
}


/*------------LANDING------------*/
.background-landing {
    background-attachment: fixed;
    background-image: url('../images/background-25.jpeg');
    background-position: bottom;
    background-size: cover;
    height: 100vh
}

.background-landing .btn {
  border-radius: 2em;
}

body {
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Abril Fatface', serif;
}



@media only screen and (max-width: 767px) {
  #about-residence {
    /* smaller landing page for mobile device */
    background-image: url(../images/background-25-small-device.png);
  }
}

/*------------SEARCH------------*/

.wrap {
    margin-top: 20em;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 0.1em solid;
  padding: 1em;
  border-right: none;
  outline: none;
  color: #9DBFAF;
  font-size: 1.6em;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  border: 0.1em solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 0.3em 0.3em 0;
  cursor: pointer;
  font-size: 1.4em;
}

/*Resize the wrap to see the search bar change!*/


.hidden {
    display: none;
}
/*------------CATALOGUE------------*/

.btn-toolbar{
  text-align: center;
}

.btn-group .btn {
    width: 2em;
    margin-left: 0.5em;
    font-size: 1.1em;
}
/*------------SEARCH&CATALOGUE------------*/
.image{
    text-align: center
}

#results img {
  border: 0.1em solid #ddd; /* Gray border */
  border-radius: 0.2em;  /* Rounded border */
  padding: 0.3em; /* Some padding */
  width: 14em; /* Set a small width */
  height: 16em;

}

/* Add a hover effect (blue shadow) */
#results img:hover {
  box-shadow: 0 0 0.1em 0.1em rgba(0, 140, 186, 0.5);
}

.card-title {
    text-align: center;
}

#results .card {
    height: 24em;
    width: 20em;
    margin: 1em;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

/*------------FOOTER------------*/

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


